<form [formGroup]="testForm" id="test-form">
  <div class="form-header">
  </div>

  <mat-form-field>

    <span class="counter">{{data.id + 1}}.</span>

    <textarea matInput
           placeholder="Input"
           name="inputTest"
           formControlName="inputTest">
    </textarea>
    <mat-error *ngIf="formErrorsTestForm.inputTest">{{formErrorsTestForm.inputTest}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput
           placeholder="Output"
           name="outputTest"
           formControlName="outputTest">
    </textarea>
    <mat-error *ngIf="formErrorsTestForm.outputTest">{{formErrorsTestForm.outputTest}}</mat-error>
  </mat-form-field>
  <i (click)="delete()"
     matTooltip="Видалити"
     matTooltipPosition="right"
     matTooltipClass="c-warning-tooltip"
     class="delete-comp material-icons">delete_forever</i>
</form>
