<div class="wrapper">
    <form [formGroup]="categoryForm" (ngSubmit)="submit()">
        <div class="form-header">
            <p *ngIf="!isEdit">Створити категорію (курс)</p>
            <p *ngIf="isEdit">Редагувати категорію (курс)</p>
        </div>

        <mat-form-field>
            <input matInput
                   placeholder="Назва категорії"
                   name="categoryName"
                   formControlName="categoryName">
            <mat-error *ngIf="formErrors.categoryName">{{formErrors.categoryName}}</mat-error>
        </mat-form-field>


        <mat-checkbox name="publicCategory" formControlName="publicCategory">Публічна категорія</mat-checkbox>

        <button mat-button type="submit" class="c-button" [disabled]="categoryForm.invalid" >Зберегти</button>

    </form>
</div>
