

.photo-wrapper img{ border-radius: 5px; }

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.personal-info {
  justify-content: flex-start;
  align-items: flex-end;
}

.work-info { width: 100% }

i { padding: 0 7px; }
