

.photo-wrapper {
  margin: 0;

  i {
    font-size: 230px;
    color: #848c8a;
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.personal-info {
  justify-content: flex-start;
  align-items: flex-end;
}

.actions {
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

  button {
    display: flex;
  }
}

.work-info { width: 100% }

i { padding: 0 7px; }
