/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html{
    height: 100%;
}

.background{
    background: linear-gradient(to bottom right, #001a13, #00664d); 
}

* {
    margin: 0;
    padding: 0;
}