<div class="link-back">
    <a routerLink="/main"><i class="material-icons">arrow_back</i>  На Головну</a>
</div>

<div class="form-wrapper">
  <form [formGroup]="loginUserForm" (ngSubmit)="login()">
    <div class="form-header">
      <p>Увійдіть в систему</p>
    </div>

    <mat-form-field >
      <input matInput
       placeholder="Логін"
       name="login"
       formControlName="login">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput 
      placeholder="Пароль" 
      name="password"
      formControlName="password"
      [type]="hide ? 'text' : 'password'">
      <mat-icon matSuffix color="primary" class="show-hide" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>

      <mat-checkbox  name="rememberMe" formControlName="rememberMe">Запам'ятати мене</mat-checkbox>

    <button mat-button type="submit" class="c-button">Увійти</button>

    <a routerLink="/registration" class="link-register">У мене немає акаунта</a>
  </form>
</div>
