
<div mat-dialog-content class="dialog-window">
  <p>Будь ласка, заповніть інформацію про себе:</p>

  <form [formGroup]="userForm" (ngSubmit)="sumbit()">
    <mat-form-field >
    <input matInput
    name="firstName"
    formControlName="firstName"
    placeholder="Ім'я">
    <mat-error *ngIf="formErrors.firstName">{{formErrors.firstName}}</mat-error>
    </mat-form-field>

    <mat-form-field >
    <input matInput
    name="secondName"
    formControlName="secondName"
    placeholder="Прізвище">
    <mat-error *ngIf="formErrors.secondName">{{formErrors.secondName}}</mat-error>
    </mat-form-field>

    <div class="actions" mat-dialog-actions>
      <button mat-button type="submit" [disabled]="userForm.invalid" [mat-dialog-close]="userForm" cdkFocusInitial>Ок</button>
    </div>
  </form>
</div>

