<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" position="end">
    <div class="description" *ngIf="task && task.description">
      <h4>Опис</h4>
      <br>
      {{task.description}}
      <br>
      <br>
      <br>
      <h4>Приклади вхідних, вихідних даних</h4>
      <br>
      <pre>{{task.examples}}</pre>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="editor-wrapper">
      <nav>
        <form [formGroup]="editorOptionsForm">
          <mat-form-field>
            <mat-label>Мова програмування</mat-label>
            <mat-select
              formControlName="languages"
              name="languages"
              (selectionChange)="languageOnChange($event.value)"
              #languageSelected>
              <mat-option *ngFor="let language of languages" [value]="language">{{language.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Тема редактора</mat-label>
            <mat-select
              name="theme"
              formControlName="theme"
              (selectionChange)="themeOnChange($event.value)">
              <mat-option *ngFor="let theme of themes" [value]="theme">{{theme}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button *ngIf="uploadId" matTooltip="Переглянути результат"
                  matTooltipClass="c-primary-tooltip"
                  mat-button (click)="getResult()">
            Переглянути результат
          </button>

          <button matTooltip="Відправити завдання на перевірку"
                  matTooltipClass="c-primary-tooltip"
                  mat-button (click)="upload()">
            Завантажити результат
            <i class="material-icons">cloud_upload</i>
          </button>

          <button class="description-toggle"
                  mat-button
                  (click)="openTaskDescription(sidenav)"
                  matTooltipClass="c-primary-tooltip"
          >Умова завдання</button>
        </form>

      </nav>

      <ngx-monaco-editor [options]="options" [(ngModel)]="code"></ngx-monaco-editor>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
