ngx-monaco-editor {
  height: 100vh;
}

nav {
  position: fixed;
  top: 3px;
  right: 150px;
}

mat-form-field {
  margin: 0 10px;
}

button {
  margin: 0 10px;
  background-color: #214f26;
}

mat-sidenav {
  width: 400px;
}

.editor-wrapper {
  overflow: hidden;
}

ngx-monaco-editor {
  overflow: hidden;
}

.description {
  padding: 15px;
}

.description-toggle {
  background-color: #214f26;
}
