input {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.form-wrapper {
    display: flex;
    margin-top: 150px;
    justify-content: center;
}

.form-header {
    text-align: center;
    padding: 10px;
}

a.c-button {
    margin-top: 10px;
}

.link-back {
    margin: 15px;
}

.link-register {
    padding: 10px;
    text-align: right;
}

i {
    vertical-align: middle;
}


