input {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.form-wrapper {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.form-header {
    text-align: center;
    padding: 20px;
    p{font-size: 18px;}
}

a.c-button {
    margin-top: 10px;
}

.link-back {
    margin: 15px;
}

.link-register {
    padding: 10px;
    text-align: right;
}

i { vertical-align: middle; }

mat-form-field {margin: 5px 0;}
mat-checkbox {margin-bottom: 15px;}



