<div class="link-back">
    <a routerLink="/main"><i class="material-icons">arrow_back</i>  На Головну</a>
</div>

<div class="form-wrapper">
  <form [formGroup]="loginUserForm" (ngSubmit)="login()">
    <div class="form-header">
      <p>Увійдіть в систему</p>
    </div>
    <mat-form-field >
      <input matInput
       placeholder="Логін"
       name="login"
       formControlName="login">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput 
      placeholder="Пароль" 
      name="password"
      formControlName="password"
      [type]="hide ? 'text' : 'password'">
      <mat-icon matSuffix color="primary" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <p><mat-checkbox  [ngModelOptions]="{standalone: true}" [(ngModel)]="checkedRememberMe">Запам'ятати мене</mat-checkbox></p>


    <button mat-button type="submit" class="c-button">Увійти</button>

    <a class="link-register">Не можу увійти</a>
    <a routerLink="/registration" class="link-register">У мене немає акаунта</a>
  </form>
</div>
