  
input {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.form-wrapper {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.form-header {
    text-align: center;
    padding: 10px;
}

a.c-button {
    margin-top: 10px;
}

.link-back {
    margin: 15px;
}

.link {
    padding: 10px;
    text-align: right;
}

i {
    vertical-align: middle;
}

.double-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.double-inputs mat-form-field {
    width: 190px;
}