<div class="wrapper">
  <form [formGroup]="taskForm" (ngSubmit)="submit()">
    <div class="form-header">
      <p>Форма створення нового завдання</p>
    </div>

     <div class="double-inputs">
         <mat-form-field>
          <input matInput
                 placeholder="Назва завдання"
                 name="taskName"
                 formControlName="taskName">
             <mat-error *ngIf="formErrors.taskName">{{formErrors.taskName}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 placeholder="Максимальна кількість балів"
                 name="taskPoints"
                 formControlName="taskPoints"
                 type="number" >
            <mat-error *ngIf="formErrors.taskPoints">{{formErrors.taskPoints}}</mat-error>
        </mat-form-field>
     </div>

    <mat-checkbox name="publicTask" formControlName="publicTask">Публічне завдання</mat-checkbox>

    <div class="double-inputs">
      <mat-form-field>
        <mat-label>Категорія</mat-label>
        <mat-select name="category" formControlName="category" value="16px">
          <mat-option>Виберіть категорію</mat-option>
          <mat-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formErrors.category">{{formErrors.category}}</mat-error>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Програма перевірки</mat-label>
        <mat-select name="checker" formControlName="checker" value="16px">
          <mat-option>Виберіть програму перевірки</mat-option>
          <mat-option *ngFor="let checker of checkers" value="{{checker.id}}">{{checker.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formErrors.checker">{{formErrors.checker}}</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
      <textarea matInput
                placeholder="Опис завдання"
                name="taskDescription"
                formControlName="taskDescription"
                type="text">
      </textarea>
      <mat-error *ngIf="formErrors.taskDescription">{{formErrors.taskDescription}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput
                placeholder="Приклади"
                name="examples"
                formControlName="examples"
                type="text">
      </textarea>
      <mat-error *ngIf="formErrors.examples">{{formErrors.examples}}</mat-error>
    </mat-form-field>

    <button mat-button type="submit" class="c-button" [disabled]="taskForm.invalid" >Додати</button>

  </form>
</div>
