<div class="wrapper">
  <form [formGroup]="taskForm">
    <div class="form-header">
      <p>Форма створення нового завдання</p>
    </div>

     <div class="double-inputs">
         <mat-form-field>
          <input matInput
                 placeholder="Назва завдання"
                 name="taskName"
                 formControlName="taskName">
             <mat-error *ngIf="formErrorstaskForm.taskName">{{formErrorstaskForm.taskName}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 placeholder="Максимальна кількість балів"
                 name="taskPoints"
                 formControlName="taskPoints"
                 type="number" >
            <mat-error *ngIf="formErrorstaskForm.taskPoints">{{formErrorstaskForm.taskPoints}}</mat-error>
        </mat-form-field>
     </div>

    <mat-checkbox name="publicTask" formControlName="publicTask">Публічне завдання</mat-checkbox>

    <div class="double-inputs">
      <mat-form-field>
        <mat-label>Категорія</mat-label>
        <mat-select name="category" formControlName="category" >
          <mat-option>Виберіть категорію</mat-option>
          <mat-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formErrorstaskForm.category">{{formErrorstaskForm.category}}</mat-error>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Програма перевірки</mat-label>
        <mat-select name="checker" formControlName="checker" >
          <mat-option>Виберіть програму перевірки</mat-option>
          <mat-option *ngFor="let checker of checkers" value="{{checker.id}}">{{checker.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formErrorstaskForm.checker">{{formErrorstaskForm.checker}}</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
      <textarea matInput
                placeholder="Опис завдання"
                name="taskDescription"
                formControlName="taskDescription"
                type="text">
      </textarea>
      <mat-error *ngIf="formErrorstaskForm.taskDescription">{{formErrorstaskForm.taskDescription}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput
                placeholder="Приклади"
                name="examples"
                formControlName="examples"
                type="text">
      </textarea>
      <mat-error *ngIf="formErrorstaskForm.examples">{{formErrorstaskForm.examples}}</mat-error>
    </mat-form-field>
  </form>

<!--  LANGUAGE -->
  <div class="test">
    <app-language-form></app-language-form>
  </div>

  <form [formGroup]="languageForm" id="language-form">
    <div class="form-header">
      <p>Мови програмування</p>
    </div>

    <mat-form-field>
      <mat-label>Мова програмування</mat-label>
      <mat-select name="language" formControlName="language">
        <mat-option>Виберіть назву мови</mat-option>
        <mat-option *ngFor="let language of languages" value="{{language.id}}">{{language.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="formErrorsLanguageForm.language">{{formErrorsLanguageForm.language}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Часове обмеження"
             name="timeLimit"
             formControlName="timeLimit">
      <mat-error *ngIf="formErrorsLanguageForm.timeLimit">{{formErrorsLanguageForm.timeLimit}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Обмеження в пам'яті"
             name="memoryLimit"
             formControlName="memoryLimit">
      <mat-error *ngIf="formErrorsLanguageForm.memoryLimit">{{formErrorsLanguageForm.memoryLimit}}</mat-error>
    </mat-form-field>

    <button mat-button class="c-button" type="button" (click)="addLanguageForm()"><i class="material-icons">add_box</i></button>
  </form>
<!-- END LANGUAGE -->

<!-- TEST -->

  <form [formGroup]="testForm" id="test-form">
    <div class="form-header">
      <p>Тестові дані</p>
    </div>

    <mat-form-field>
      <input matInput
             placeholder="Input"
             name="inputTest"
             formControlName="inputTest">
      <mat-error *ngIf="formErrorsTestForm.inputTest">{{formErrorsTestForm.inputTest}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Output"
             name="outputTest"
             formControlName="outputTest">
      <mat-error *ngIf="formErrorsTestForm.outputTest">{{formErrorsTestForm.outputTest}}</mat-error>
    </mat-form-field>

    <button mat-button class="c-button" type="button" (click)="addTestForm()"><i class="material-icons">add_box</i></button>
  </form>
<!-- END TEST -->

    <button mat-button type="submit" class="c-button" [disabled]="taskForm.invalid" (click)="submit()">Додати</button>

</div>
