<form [formGroup]="usersTaskForm" id="users-task-form">
  <div class="form-header">
  </div>


  <mat-form-field>
    <mat-label>Назва завдання</mat-label>
    <mat-select name="task" formControlName="task">
      <mat-option>Виберіть назву завадння</mat-option>
      <mat-option *ngFor="let task of tasks" value="{{task.id}}">{{task.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="formErrorsUsersTaskForm.task">{{formErrorsUsersTaskForm.task}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input name="date" formControlName="date" matInput [matDatepicker]="picker" placeholder="Термін здачі">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="formErrorsUsersTaskForm.date">{{formErrorsUsersTaskForm.date}}</mat-error>
  </mat-form-field>

  <mat-checkbox name="canRead" formControlName="canRead">Дозвіл на читання</mat-checkbox>
  <mat-checkbox name="canWrite" formControlName="canWrite">Дозвіл на зміну</mat-checkbox>
  <mat-checkbox name="canChangeAccess" formControlName="canChangeAccess">Дозвіл на зміну доступу</mat-checkbox>
  <mat-checkbox name="isOwner" formControlName="isOwner">Власник</mat-checkbox>

  <mat-form-field>
    <mat-label>Користувачі</mat-label>
    <mat-select name="users" formControlName="users" multiple>
      <mat-option disabled>Виберіть виконавців</mat-option>
      <mat-option *ngFor="let user of users" value="{{user.id}}">{{user.name}} {{user.surname}}</mat-option>
    </mat-select>
    <mat-error *ngIf="formErrorsUsersTaskForm.task">{{formErrorsUsersTaskForm.task}}</mat-error>
  </mat-form-field>
</form>
