<div class="cards-wrapper">
  <mat-card
    *ngFor="let card of cards"
    (click)="linkTo(card.link)"
    matTooltip="{{card.tooltip}}"
    matTooltipClass="c-primary-tooltip">
    <mat-card-header>
      <mat-card-title>{{card.name}}</mat-card-title>
      <mat-card-subtitle>{{card.description}}</mat-card-subtitle>
    </mat-card-header>
    <i class="material-icons">{{card.icon}}</i>
  </mat-card>
</div>


<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    <a href="">{{node.name}}</a>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <a href="">{{node.name}}</a>
  </mat-tree-node>
</mat-tree>


