
.text-position{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 18%;
    font-size: 17vh;
    font-family: 'Quicksand', sans-serif;
    color:  #adebeb;
}

.navigation-buttons{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.part-text-style{
    font-family: 'Dancing Script', cursive;
    color: white;
    /* font-family: 'Shadows Into Light', cursive; */
}

.buttons-style{
    color: #ccffee;
    font-family: 'Quicksand', sans-serif;
    background-color: #003326;
    margin-right: 2%;
}

