<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar  class="example-toolbar">
    <div class="toolbar-nav">
      <button matTooltipClass="c-primary-tooltip"
              mat-icon-button matTooltip="Меню"
              (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <a (click)="stepBack()"
         class="stepBack"
         matTooltipClass="c-primary-tooltip"
         matTooltip="Попередня сторінка">
        <i class="material-icons">arrow_back</i>
      </a>
    </div>

    <a (click)="logout()"
       class="logout"
       matTooltipClass="c-primary-tooltip"
       matTooltip="Вихід">
      <span class="btn-label">Вихід</span>
      <i class="material-icons">exit_to_app</i>
    </a>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="'over'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">


        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <button mat-icon-button disabled></button>
              <ng-container *ngIf="node.checkAccess">
                <a *ngIf="node.link && userRole" mat-list-item [routerLink]="[node.link]">{{node.name}}</a>
              </ng-container>
              <ng-container *ngIf="!node.checkAccess">
                <a *ngIf="node.link" mat-list-item [routerLink]="[node.link]">{{node.name}}</a>
              </ng-container>
            </mat-tree-node>

            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
              <ng-container *ngIf="node.checkAccess && userRole">
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                <a *ngIf="node.link" mat-list-item [routerLink]="[node.link]">{{node.name}}</a>
              </ng-container>
              <ng-container *ngIf="!node.checkAccess">
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                <a *ngIf="node.link" mat-list-item [routerLink]="[node.link]">{{node.name}}</a>
              </ng-container>
            </mat-tree-node>
        </mat-tree>

    </mat-sidenav>

    <mat-sidenav-content class="main-content test">
      <router-outlet>
      </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

