/* You can add global styles to this file, and also import other style files */



html {
    height: 100vh;
    color: #ccffee;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
}

body *{
  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: white;
  }

  &::-webkit-scrollbar
  {
    width: 10px;
    background-color: #3e3e3e;
  }

  &::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #3e3e3e;
  }
}

.background{
  background: #00251a;
  //background: #001a13;
//linear-gradient(to bottom right, #001a13, #00664d);
}



* {
    margin: 0;
    padding: 0;
}

.c-button{
    color: #ccffee;
    font-family: 'Quicksand', sans-serif;
    background-color: #003326;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
  margin: 20px;
  display:flex;
}

.wrapper {
  padding: 50px 20px;
}

ul li {
  list-style: none;
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .group-wrapper {
    text-align: center;
    padding: 25px 0;
  }

  .form-header {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }


  form {
    display: flex;
    flex-direction: column;
    width: 65%;

    mat-checkbox {margin-bottom: 20px;}

    mat-form-field {
      margin: 15px 0;
      width: 100%;
    }

    .double-inputs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      mat-form-field {
        width: 45%;
      }
    }
  }
}

.dynamic-component-wrapper {
  width: 100%;
}

app-task-to-users-form,
app-test-form,
app-language-form {
  display: flex;
  justify-content: center;
  width: 100%;
}
