<mat-accordion class="example-headers-align">
  <mat-expansion-panel *ngFor="let task of tasks; let i = index" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title >
        {{task.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{task.category}}
        <span class="points">{{task.highScore}} / {{task.points}}</span>
        <mat-icon *ngIf="!task.completed" matTooltip="Завдання не виконано"><i class="material-icons">notifications</i></mat-icon>
        <mat-icon *ngIf="task.completed" matTooltip="Виконано"><i class="material-icons">done_all</i></mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    {{task.description}}

    <mat-action-row>
      <button mat-button color="primary" (click)="openUploads(task.id)">Мої розв'язки</button>
      <button mat-button color="primary" (click)="doExcercise(task.id, task.languages)">Перейти до виконання завдання</button>
      <button mat-button color="primary" (click)="prevStep()">Попереднє</button>
      <button mat-button color="primary" (click)="nextStep()">Наступне</button>
    </mat-action-row>
  </mat-expansion-panel>

  <div class="no-tasks" *ngIf="!tasks.length">
    <i class="material-icons">sentiment_dissatisfied</i>
  </div>
</mat-accordion>
