<div class="wrapper">
  <form [formGroup]="groupForm" (ngSubmit)="submit()">
    <div class="form-header">
      <p>Форма створення нової групи</p>
    </div>

    <mat-form-field>
      <input matInput
             placeholder="Назва групи"
             name="groupName"
             formControlName="groupName">
      <mat-error *ngIf="formErrors.groupName">{{formErrors.groupName}}</mat-error>
    </mat-form-field>


    <mat-checkbox name="publicGroup" formControlName="publicGroup">Публічна група</mat-checkbox>

    <button mat-button type="submit" class="c-button" [disabled]="groupForm.invalid" >Зберегти</button>

  </form>
</div>
