<h2 mat-dialog-title>Додати користувача у роль</h2>

<div mat-dialog-content class="dialog-window">
    <form [formGroup]="changePasswordForm">

        <div class="passwords">
            <mat-form-field>
                <mat-label>Новий пароль</mat-label>
                <input matInput name="newPassword" formControlName="newPassword" [(value)]="newPassword"
                    [type]="hidePassword ? 'password' : 'text'" />
                <mat-error *ngIf="formErrors.newPassword">{{formErrors.newPassword}}</mat-error>
                <mat-icon matSuffix class="password-eye" color="primary" (click)="hidePassword = !hidePassword">
                    {{hidePassword ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Підтвердження паролю</mat-label>
                <input matInput name="confirmationPassword" formControlName="confirmationPassword"
                    [(value)]="confirmationPassword" [type]="hideConfirmation ? 'password' : 'text'"
                    compare="newPassword" />
                <mat-error *ngIf="formErrors.confirmationPassword">{{formErrors.confirmationPassword}}</mat-error>
                <mat-icon matSuffix class="password-eye" color="primary" (click)="hideConfirmation = !hideConfirmation">
                    {{hideConfirmation ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </mat-form-field>
        </div>

        <div class="actions" mat-dialog-actions>
            <button class="mat-raised-button" (click)="close()">Закрити</button>
            <button class="mat-raised-button mat-primary" [disabled]="changePasswordForm.invalid || inProgress"
                (click)="submit()">Змінити</button>
        </div>
    </form>
</div>